:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --primary-text-color: #757575;
  --button-color: #f5f4fa;
}
body {
  color: var(--background-color);
}
ul {
  list-style-type: none;
}

.header {
  /* top line bg */

  font-family: Roboto;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--background-color);
}
.hero {
  background: var(--title-text-color);
}
.logo {
  /* WebStudio */
  line-height: 31px;

  font-family: Raleway;

  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;

  color: #000000;
  text-decoration: none;
}

.logo span {
  color: var(--accent-color);
  text-decoration: none;
  line-height: 31px;
}

.studio {
  font-family: Roboto;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--accent-color);

  text-decoration: none;
}
.site-nav .studio.current {
  color: var(--accent-color);
}
.studio:hover,
.studio:focus {
  color: #000000;
}
.portfolio {
  font-family: Roboto;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  text-decoration: none;
}
.portfolio:hover,
.portfolio:focus {
  color: var(--accent-color);
}
.contacts {
  font-family: Roboto;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--title-text-color);
  list-style-type: none;
}
.email {
  /* info@devstudio.com */

  font-family: Roboto;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
.email:hover,
.email:focus {
  color: var(--accent-color);
}
.telephone-number {
  /* +38 096 111 11 11 */

  font-family: Roboto;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.telephone-number:hover,
.telephone-number:focus {
  color: var(--accent-color);
}
/* Button */
.hero {
  font-family: Roboto;
  background: var(--background-color);
  background: #2f303a;
}
.button {
  /* bg */

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  text-decoration: none;
}

.details {
  font-family: Roboto;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.details-text {
  font-family: Roboto;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.punctuality {
  font-family: Roboto;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.punctuality-text {
  font-family: Roboto;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.planning {
  font-family: Roboto;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.planning-text {
  font-family: Roboto;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.technologies {
  font-family: Roboto;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.technologies-text {
  font-family: Roboto;

  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.what-we-do {
  font-family: Roboto;

  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.img-1 {
  /* img */

  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
}
.img-2 {
  /* img */

  background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.img-3 {
  /* img */

  background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}

.our-team {
  /* Section bg our team */

  background: #f5f4fa;
}
.heading-team {
  font-family: Roboto;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.our-team {
  /* Section bg */

  background: #f5f4fa;
}
.img-igor {
  /* card bg */

  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* card bg */
}
.igor-d {
  font-family: Roboto;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.product-designer {
  /* Product Designer */

  font-family: Roboto;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.img-olga {
  /* card bg */

  background: var(--background-color);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-tarasov {
  /* card bg */

  background: var(--background-color);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.img-michael {
  /* card bg */

  background: var(--background-color);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.olga-r {
  font-family: Roboto;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.frontend-developer {
  /* Frontend Developer */

  font-family: Roboto;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.tarasov {
  font-family: Roboto;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.marketing {
  /* Marketing */

  font-family: Roboto;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.michael-e {
  font-family: Roboto;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.ui-designer {
  /* UI Designer */

  font-family: Roboto;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
footer {
  background: #2f303a;
}

.logo-footer {
  /* WebStudio */

  font-family: Raleway;

  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--background-color);
}
.logo-footer span {
  /* WebStudio */

  color: var(--accent-color);
  text-decoration: none;
}
.address {
  /* г. Киев, пр-т Леси Украинки, 26 */

  font-family: Roboto;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--background-color);
}
.email-foot {
  /* info@example.com */

  font-family: Roboto;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.number {
  /* +38 099 111 11 11 */

  font-family: Roboto;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.all-button {
  /* Rectangle 10 */
  background: var(--accent-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.web-site {
  /* Rectangle 10 */
  background: var(--button-color);
  border-radius: 4px;
}
.app-button {
  /* Rectangle 10 */
  background: var(--button-color);
  border-radius: 4px;
}
.marketing-button {
  /* Rectangle 10 */
  background: var(--button-color);
  border-radius: 4px;
}
.poster {
  /* container bg */

  background: var(--background-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.techno {
  /* Технокряк */

  font-family: Roboto;

  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.web {
  /* Веб-сайт */
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.poster {
  /* Постер New Orlean vs Golden Star */
  font-family: Roboto;

  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.poster-design {
  /* Дизайн */

  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.restaurant {
  /* Ресторан Seafood */

  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.app-restaurant {
  /* Приложение */

  font-family: Roboto;

  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.prime {
  /* Проект Prime */

  font-family: Roboto;

  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.prime-marketing {
  /* Маркетинг */

  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.boxes {
  /* Проект Boxes */

  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.box-app {
  /* Приложение */
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.no-borders {
  /* Inspiration has no Borders */
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.web-no-boarders {
  /* Веб-сайт */
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.limited {
  /* Издание Limited Edition */
  font-family: Roboto;

  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.design-limited {
  /* Дизайн */
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.lab {
  /* Проект LAB */

  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.lab-marketing {
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.business {
  /* Growing Business */
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.app-business {
  /* Приложение */
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
